@charset 'UTF-8';

root {
    --forecolor: #FFFFFF;
    --bgcolor: #000000;

}

.page-header {
    width: 100vw;
    margin: 0 auto;
    background-color: var(--bgcolor);
    color: var(--forecolor);
}


